<fieldset>
  <button type="button" data-ui="my-location">My Location</button>
  <button type="button" data-ui="reset">Reset</button>
  <br>
  <input type="text" name="host"> <button type="button" data-ui="host-location">Locate</button>
</fieldset>
