<fieldset>
  <button type="button" class="btn btn-default" data-ui="my-location">My Location</button>
  <button type="button" class="btn btn-default" data-ui="reset">Reset</button>
  <br>
  <input type="text" name="host" class="form-control">
  <button type="button" class="btn btn-default" data-ui="host-location">Locate</button>
</fieldset>
