<fieldset>
  <div class="form-group">
    <button type="button" class="btn btn-success" data-ui="my-location">
      <i class="glyphicon glyphicon-user"></i> My Location
    </button>
    <button type="button" class="btn btn-danger" data-ui="reset"><i class="glyphicon glyphicon-remove"></i> Reset</button>
  </div>
  <div class="form-group" data-ui="form-group">
    <div class="input-group">
      <input type="text" name="host" class="form-control" placeholder="www.example.com">
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" data-ui="host-location">Locate</button>
      </span>
    </div>
    <span class="help-block" data-ui="help-block"></span>
  </div>
</fieldset>
